You now know two kinds of regression and two kinds of classifier. So let's use that to compare models!

Comparing models is something data scientists do all the time. There's very rarely just one model that would be possible to run for a given situation, so learning to choose the best one is very important.

Here let's work on regression. Find a data set and build a KNN Regression and an OLS regression. Compare the two. How similar are they? Do they miss in different ways?

Create a Jupyter notebook with your models. At the end in a markdown cell write a few paragraphs to describe the models' behaviors and why you favor one model or the other. Try to determine whether there is a situation where you would change your mind, or whether one is unambiguously better than the other. Lastly, try to note what it is about the data that causes the better model to outperform the weaker model. Submit a link to your notebook below.

In [1]:
# Import data science environmemnt.
import math
import warnings

from IPython.display import display
import pandas as pd
import numpy as np
import scipy
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import neighbors
from sklearn import linear_model 
from sklearn.model_selection import cross_val_score
import statsmodels.formula.api as smf

# Display preferences
% matplotlib inline
pd.options.display.float_format = '{:.3f}'.format

# Suppress annoying harmless error
warnings.filterwarnings(
    action='ignore',
    module='scipy',
    message='^internal gelsd'
)
warnings.filterwarnings('ignore')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Thinkful-Ed/data-201-resources/master/New_York_offenses/NEW_YORK-Offenses_Known_to_Law_Enforcement_by_City_2013%20-%2013tbl8ny.csv', skiprows=3, header=1)
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adams Village,"1,861",0,0.000,nan,0,0,0,12,2,10,0,0.000
1,Addison Town and Village,"2,577",3,0.000,nan,0,0,3,24,3,20,1,0.000
2,Akron Village,"2,846",3,0.000,nan,0,0,3,16,1,15,0,0.000
3,Albany,"97,956",791,8.000,nan,30,227,526,"4,090",705,"3,243",142,nan
4,Albion Village,"6,388",23,0.000,nan,3,4,16,223,53,165,5,nan

In [3]:
# Change long column names.
df.rename(columns={"Murder and\nnonnegligent\nmanslaughter":"Murder"})

,City,Population,Violent crime,Murder,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adams Village,"1,861",0,0.000,nan,0,0,0,12,2,10,0,0.000
1,Addison Town and Village,"2,577",3,0.000,nan,0,0,3,24,3,20,1,0.000
2,Akron Village,"2,846",3,0.000,nan,0,0,3,16,1,15,0,0.000
3,Albany,"97,956",791,8.000,nan,30,227,526,"4,090",705,"3,243",142,nan
4,Albion Village,"6,388",23,0.000,nan,3,4,16,223,53,165,5,nan
5,Alfred Village,"4,089",5,0.000,nan,0,3,2,46,10,36,0,nan
6,Allegany Village,"1,781",3,0.000,nan,0,0,3,10,0,10,0,0.000
7,Amherst Town,"118,296",107,1.000,nan,7,31,68,"2,118",204,"1,882",32,3.000
8,Amityville Village,"9,519",9,0.000,nan,2,4,3,210,16,188,6,1.000
9,Amsterdam,"18,182",30,0.000,nan,0,12,18,405,99,291,15,0.000
10,Arcade Village,"2,053",0,0.000,nan,0,0,0,39,3,35,1,0.000
11,Ardsley Village,"4,523",5,0.000,nan,0,3,2,33,4,28,1,0.000
12,Asharoken Village,658,0,0.000,nan,0,0,0,2,0,2,0,0.000
13,Attica Village,"2,522",2,0.000,nan,0,0,2,5,0,4,1,0.000
14,Auburn,"27,270",96,1.000,nan,20,22,53,859,132,721,6,nan
15,Avon Village,"3,333",1,0.000,nan,0,1,0,25,3,20,2,nan
16,Baldwinsville Village,"7,473",5,0.000,nan,0,1,4,88,10,77,1,0.000
17,Ballston Spa Village,"5,418",8,0.000,nan,0,3,5,94,16,78,0,1.000
18,Batavia,"15,374",57,0.000,nan,7,13,37,559,103,454,2,nan
19,Bath Village,"5,733",15,0.000,nan,1,3,11,191,32,157,2,2.000
20,Bedford Town,"17,627",5,0.000,nan,0,1,4,156,26,127,3,nan
21,Bethlehem Town,"34,243",13,0.000,nan,0,3,10,442,50,388,4,nan
22,Binghamton,"46,304",284,3.000,nan,19,101,161,"2,349",525,"1,767",57,nan
23,Black River,"1,410",0,0.000,nan,0,0,0,14,2,12,0,0.000
24,Blooming Grove Town,"12,001",8,0.000,nan,1,0,7,99,20,72,7,nan
25,Bolivar Village,"1,022",1,0.000,nan,0,0,1,4,2,2,0,0.000
26,Bolton Town,"2,325",2,0.000,nan,0,0,2,24,4,20,0,0.000
27,Boonville Village,"2,054",1,0.000,nan,0,0,1,20,6,14,0,0.000
28,Brant Town,"2,065",4,0.000,nan,0,1,3,31,9,20,2,0.000
29,Brewster,"2,358",0,0.000,nan,0,0,0,13,3,10,0,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,Utica,"61,686",361,7.000,nan,27,102,225,"2,528",449,"1,997",82,nan
322,Vestal Town,"27,980",16,0.000,nan,2,6,8,571,39,523,9,nan
323,Walden Village,"6,887",18,1.000,nan,2,1,14,142,13,124,5,nan
324,Wallkill Town,"27,940",40,0.000,nan,3,16,21,767,91,650,26,1.000
325,Walton Village,"3,012",6,0.000,nan,1,0,5,68,18,50,0,nan
326,Warsaw Village,"3,453",6,0.000,nan,1,0,5,78,5,73,0,0.000
327,Washingtonville Village,"5,828",2,0.000,nan,0,1,1,58,5,51,2,0.000
328,Waterford Town and Village,"8,392",4,0.000,nan,0,0,4,59,6,52,1,0.000
329,Waterloo Village,"5,175",11,0.000,nan,0,3,8,194,23,169,2,nan
330,Watertown,"28,179",109,0.000,nan,12,16,81,"1,165",169,953,43,nan
331,Watervliet,"10,245",26,1.000,nan,3,11,11,242,58,163,21,nan
332,Watkins Glen Village,"1,862",6,0.000,nan,0,0,6,92,10,80,2,nan
333,Waverly Village,"4,337",5,0.000,nan,0,1,4,54,9,41,4,nan
334,Webster Town and Village,"43,777",21,0.000,nan,2,3,16,469,101,361,7,nan
335,Weedsport Village,"1,797",0,0.000,nan,0,0,0,25,5,20,0,0.000
336,Wellsville Village,"4,574",11,0.000,nan,1,0,10,164,32,129,3,1.000
337,Westhampton Beach Village,"1,732",2,0.000,nan,0,0,2,44,4,37,3,0.000
338,West Seneca Town,"44,821",35,1.000,nan,1,9,24,896,166,710,20,0.000
339,Whitehall Village,"2,604",6,0.000,nan,0,0,6,62,12,49,1,nan
340,White Plains,"57,559",78,1.000,nan,3,28,46,"1,232",77,"1,134",21,nan
341,Whitesboro Village,"3,733",4,0.000,nan,0,0,4,36,14,21,1,0.000
342,Whitestown Town,"9,141",0,0.000,nan,0,0,0,77,13,61,3,0.000
343,Woodbury Town,"10,685",3,0.000,nan,0,2,1,541,9,529,3,nan
344,Woodridge Village,829,7,0.000,nan,0,0,7,17,8,9,0,0.000
345,Woodstock Town,"5,931",2,0.000,nan,0,0,2,58,13,45,0,nan
346,Yonkers,"199,134","1,036",6.000,nan,25,390,615,"2,368",470,"1,662",236,10.000
347,Yorktown Town,"36,643",15,0.000,nan,0,2,13,334,45,287,2,nan
348,1 The figures shown in this column for the off...,NaN,NaN,nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
349,2 The figures shown in this column for the off...,NaN,NaN,nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
350,3 The FBI does not publish arson data unless i...,NaN,NaN,nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan

In [4]:
# Eliminate commas from number > 999.
def convert_number(number):
    try:
        converted = float(number.replace(',', ''))
    except:
        converted = number
        
    return converted

In [5]:
# Change NaN values to 0. Convert object types to floats.
df.dropna()
df['Population'] = df['Population'].apply(lambda x: convert_number(x))
df['Population^2'] = df['Population']**2
df['Murder'] = df['Murder and\nnonnegligent\nmanslaughter'].apply(lambda x: convert_number(x))
df['Robbery'] = df['Robbery'].apply(lambda x: convert_number(x))
df['Property_Crime'] = df['Property\ncrime'].apply(lambda x: convert_number(x))

In [6]:
# Eliminate final three rows of text after data.
df = df[:348]

In [7]:
# Create new data frame with only relevant columns.
df_fbi = df[['City', 'Population', 'Population^2', 'Murder', 'Robbery', 'Property_Crime']]

In [8]:
# Preview new data frame.
df_fbi.head()

,City,Population,Population^2,Murder,Robbery,Property_Crime
0,Adams Village,1861.000,3463321.000,0.000,0.000,12.000
1,Addison Town and Village,2577.000,6640929.000,0.000,0.000,24.000
2,Akron Village,2846.000,8099716.000,0.000,0.000,16.000
3,Albany,97956.000,9595377936.000,8.000,227.000,4090.000
4,Albion Village,6388.000,40806544.000,0.000,4.000,223.000

In [18]:
# Build our KNN model.
knn = neighbors.KNeighborsRegressor(n_neighbors=5)
X = df_fbi.Population
Y = df_fbi.Property_Crime.values.reshape(-1, 1)
knn.fit(X, Y)

# Set up our prediction line.
T = np.arange(0, 20000, 100)[:, np.newaxis]

# Trailing underscores are a common convention for a prediction.
Y = knn.predict(T)

plt.scatter(X, Y, c='k', label='data')
plt.plot(T, Y_, c='g', label='prediction')
plt.legend()
plt.title('K=5, Unweighted')
plt.show()

ValueError: Expected 2D array, got 1D array instead:
array=[1.861000e+03 2.577000e+03 2.846000e+03 9.795600e+04 6.388000e+03
 4.089000e+03 1.781000e+03 1.182960e+05 9.519000e+03 1.818200e+04
 2.053000e+03 4.523000e+03 6.580000e+02 2.522000e+03 2.727000e+04
 3.333000e+03 7.473000e+03 5.418000e+03 1.537400e+04 5.733000e+03
 1.762700e+04 3.424300e+04 4.630400e+04 1.410000e+03 1.200100e+04
 1.022000e+03 2.325000e+03 2.054000e+03 2.065000e+03 2.358000e+03
 7.976000e+03 3.668900e+04 8.284000e+03 6.390000e+03 1.174000e+03
 2.587890e+05 6.577000e+03 1.854000e+03 2.219000e+03 2.416500e+04
 1.047000e+04 4.704000e+03 2.246000e+03 6.794000e+03 7.620000e+02
 3.446200e+04 3.481000e+03 3.862000e+03 9.800000e+02 3.749000e+03
 2.732000e+03 1.835000e+03 1.733000e+03 7.836100e+04 7.990000e+03
 5.016000e+03 2.957100e+04 8.070500e+04 2.049000e+03 4.503000e+03
 7.458000e+03 1.617900e+04 7.821500e+04 1.827000e+03 1.108700e+04
 2.978000e+03 9.543000e+03 1.933100e+04 9.264000e+03 8.180000e+03
 3.209000e+03 4.605000e+03 7.827000e+03 2.985000e+03 1.518900e+04
 1.628000e+03 2.268100e+04 1.122000e+03 1.102100e+04 2.191000e+03
 1.913000e+03 1.232900e+04 1.377400e+04 1.980000e+04 2.931500e+04
 1.647000e+04 1.967400e+04 1.104000e+03 6.596000e+03 3.036000e+03
 7.684000e+03 4.124000e+03 5.144000e+03 2.892100e+04 4.079000e+03
 5.948000e+03 1.312200e+04 1.629200e+04 5.335000e+03 1.210900e+04
 2.043500e+04 1.592600e+04 2.842000e+03 2.265000e+03 5.033000e+03
 2.579000e+03 1.702000e+03 1.098800e+04 4.321400e+04 1.960000e+03
 1.173900e+04 2.259600e+04 2.846800e+04 1.044200e+04 7.891000e+03
 1.319400e+04 1.926000e+03 2.713400e+04 5.260000e+02 1.458200e+04
 2.183900e+04 1.531500e+04 5.400000e+03 2.663000e+03 2.498000e+03
 2.794000e+03 9.666700e+04 4.478700e+04 1.553000e+03 2.621000e+03
 4.065000e+03 3.118000e+03 2.381000e+03 3.380500e+04 4.553500e+04
 9.517000e+03 6.560000e+02 2.787600e+04 7.937000e+03 3.719600e+04
 5.519800e+04 7.693000e+03 3.847000e+03 3.270000e+03 3.466000e+03
 8.481000e+03 6.701000e+03 6.676000e+03 7.187000e+03 1.428000e+03
 2.139700e+04 8.002000e+03 5.150600e+04 6.530000e+03 3.065800e+04
 1.486600e+04 8.531000e+03 1.350000e+03 1.525600e+04 1.338100e+04
 5.042000e+03 2.366500e+04 8.296000e+03 1.796500e+04 2.491000e+03
 3.009000e+03 7.280000e+03 3.636900e+04 5.930000e+03 4.354000e+03
 1.617500e+04 4.285000e+03 4.912000e+03 2.311000e+03 3.683000e+03
 1.075100e+04 2.090400e+04 3.353400e+04 3.457000e+03 1.952800e+04
 3.543000e+03 9.132000e+03 5.881000e+03 8.542000e+03 1.214600e+04
 1.916400e+04 1.688000e+03 2.446100e+04 1.792000e+03 8.769000e+03
 1.080800e+04 5.213000e+03 5.953000e+03 3.991000e+03 1.813000e+03
 2.780900e+04 8.544000e+03 8.961000e+03 4.188000e+03 6.582000e+03
 1.263000e+03 3.628000e+03 7.112000e+03 1.102800e+04 2.912000e+03
 2.656400e+04 6.807100e+04 8.978000e+03 1.622000e+03 2.857100e+04
 3.098400e+04 1.786400e+04 2.035500e+04 1.424800e+04 7.880000e+04
 2.576700e+04 8.396126e+06 3.324000e+03 4.957400e+04 8.241000e+03
 2.209700e+04 1.754000e+03 1.207700e+04 1.213700e+04 7.411000e+03
 6.964000e+03 3.117600e+04 1.097000e+03 7.049000e+03 1.107200e+04
 2.002600e+04 2.171000e+03 4.625000e+03 1.415000e+04 1.122000e+04
 1.382500e+04 3.743800e+04 2.938600e+04 1.385000e+03 2.531400e+04
 1.813900e+04 3.818000e+03 1.433000e+03 4.233000e+03 2.116000e+03
 3.475000e+03 2.390800e+04 5.558000e+03 6.982000e+03 5.123000e+03
 3.633000e+03 2.550000e+03 2.460000e+03 1.037400e+04 1.967200e+04
 7.100000e+03 1.274000e+03 2.932800e+04 1.602000e+03 8.689000e+03
 9.970000e+02 9.613000e+03 3.077800e+04 4.386600e+04 5.200000e+03
 2.354000e+03 9.770000e+02 8.720400e+04 1.947000e+03 9.517000e+03
 2.635000e+03 3.378900e+04 2.105620e+05 2.412900e+04 3.255700e+04
 6.026000e+03 2.914600e+04 9.480000e+03 2.279000e+03 5.691000e+03
 2.715000e+03 5.369000e+03 2.708100e+04 1.931800e+04 1.756400e+04
 6.604100e+04 1.157300e+04 8.720000e+02 7.700000e+03 2.362000e+03
 3.043000e+03 1.420500e+04 2.412000e+03 1.351000e+03 3.064000e+03
 1.437000e+03 3.805000e+03 2.450000e+03 9.996000e+03 1.805000e+03
 6.487000e+03 5.060300e+04 3.161000e+03 3.640000e+03 1.996300e+04
 3.228800e+04 6.587000e+03 1.691000e+03 1.530700e+04 1.088600e+04
 1.438340e+05 1.144900e+04 4.982000e+03 1.498700e+04 5.808200e+04
 4.989800e+04 1.820000e+03 6.578000e+03 3.642000e+03 6.150000e+02
 1.219500e+04 6.168600e+04 2.798000e+04 6.887000e+03 2.794000e+04
 3.012000e+03 3.453000e+03 5.828000e+03 8.392000e+03 5.175000e+03
 2.817900e+04 1.024500e+04 1.862000e+03 4.337000e+03 4.377700e+04
 1.797000e+03 4.574000e+03 1.732000e+03 4.482100e+04 2.604000e+03
 5.755900e+04 3.733000e+03 9.141000e+03 1.068500e+04 8.290000e+02
 5.931000e+03 1.991340e+05 3.664300e+04].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.